/* write css here */

/* Color Variables */
:root {

  /* Font family */
  --Font_Primary: 'Poppins', sans-serif;


  /* Colors */
  --primary-color: #f7d794;
  --secondary-color: #f9e3b4;
  --container-bg: #fcefd4;


  --light-border: #D4C4B0;
  --dark-border: #7B614E;

  --text-color-dark: #23120B;
  --text-color-light: #6E5D52;

  --highlight-color: #FFF8E6;

  --link-color: #8A7262;

  --table-odd-row: #f7d794;

  --table-even-row: #faeac8;

}


/* Global Rest */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}


html {
  /* Setting 1rem = 10px */
  font-size: 62.5%;
  height: 100vh;
  overflow: hidden;
}

body {

  font-family: var(--Font_Primary);
  background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Grid styles */
.grid-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* Ensures it doesn't block interaction */
  z-index: -200;
  background-image:
    radial-gradient(rgb(255, 255, 255) 1px, transparent 4px),
    linear-gradient(to right, var(--text-color-dark) 1px, transparent 1px),
    linear-gradient(to bottom, var(--text-color-dark) 1px, transparent 1px);
  background-size: 40px 40px, 40px 40px, 40px 40px;
  background-position: 0 0, 20px 20px, 20px 20px;
}

/* Container styles */
.container {
  width: 70%;
  background-color: var(--container-bg);
  padding: 1rem 2rem;
  border: .3rem solid var(--dark-border);
  border-radius: 1rem;
}

.title {
  font-size: 3rem;
}

.tagline {
  font-size: 1.8rem;
}

.center-text {
  text-align: center;
  color: var(--text-color-dark);
}


.seperator {
  border: none;
  height: .3rem;
  background-color: var(--dark-border);
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}


/* Form styles */
.expense-form {
  display: flex;
  /* outline: 1px solid lime; */
  align-items: center;
  justify-content: space-between;
  font-family: var(--Primary-Font);
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}

.expense-input {
  flex: 1 0 0;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.36);
  border: .2rem solid var(--text-color-light);
  font-size: 1.4rem;
  border-radius: .5rem;
  transition: .5s;
  text-wrap: wrap;
}

.expense-input:focus {
  border: .2rem solid var(--text-color-dark);
}

.filter-text {
  font-size: 1.4rem;
  color: var(--text-color-dark);
  font-weight: 500;
}

.filter-by {
  font-family: var(--Font_Primary);
  padding: .5rem;
  margin: 1rem;
  margin-top: 1.5rem;
  border-radius: .5rem;
  border: .2rem solid var(--text-color-light);
  font-size: 1.4rem;
  background-color: rgba(255, 255, 255, 0.36);
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.add-btn ion-icon {
  font-size: 2rem;
}

.btn {
  cursor: pointer;
  font-family: var(--Font_Primary);
  font-weight: 500;
  padding: .8rem;
}

.btn:hover {
  border: .2rem solid var(--text-color-dark);
  /* background-color: #c6ac76; */
  background-color: var(--table-odd-row);
}

.margin-btm {
  margin-bottom: 1rem;
}


/* Table styles */
.expense-table-wrapper {
  max-height: 30rem;
  overflow-y: auto;
  overflow-x: hidden;
  /* position: relative; */
}

.expense-table {
  width: 100%;
  border-collapse: collapse;
  text-wrap: pretty;
  word-break: break-all;
}

.expense-table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--highlight-color);
}

.expense-fields th,
.expense-data {
  border-bottom: 1px solid var(--light-border);
  padding: 1rem;
  text-align: left;
}

.expense-fields th {
  color: var(--text-color-dark);
  font-weight: 600;
  font-size: 1.8rem;
}

.expense-data {
  font-size: 1.6rem;
  padding: 1rem;
  font-weight: 500;
  color: var(--text-color-dark);
  background-color: var(--container-bg);
}

.expense-fields tr:nth-child(even) .expense-data {
  background-color: var(--table-odd-row);
}

.expense-fields tr:nth-child(odd) .expense-data {
  background-color: var(--table-even-row);
}

/* Scrollbar styling */
.expense-table-wrapper::-webkit-scrollbar {
  width: .5rem;
}

.expense-table-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--dark-border);
  border-radius: 4px;
}

.expense-table-wrapper::-webkit-scrollbar-track {
  background-color: var(--container-bg);
}



/* delete btn */
.delete-btn {
  border: none;
  padding: .5rem 1rem;
  background-color: rgb(230, 58, 58);
  font-family: var(--Font_Primary);
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 1rem;
  color: var(--highlight-color);
  cursor: pointer;
  transition: all .6s;
  text-wrap: nowrap;
  word-break: none;
}

.delete-btn:hover {
  background-color: rgb(209, 15, 15);
  /* transform: translateY(-1px); */
}

/* display */
.display-expense {
  font-size: 2rem;
  color: var(--text-color-dark);
  font-weight: 500;
  margin-top: 2rem;
}


/* To remove those arrows from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Responsive design and Media Queries */
@media(min-width: 76em) {
  html {
    font-size: 66%;
  }

  .container {
    width: 85%;
    padding: 2rem 2.5rem;
  }
}

@media (max-width: 76em) {
  html {
    font-size: 55%;
  }

  .container {
    width: 85%;
    padding: 2rem 2.5rem;
  }
}

@media(max-width:54.5em) {
  html {
    font-size: 50%;
  }

  .container {
    padding: 1rem 1.5rem;
  }

  .expense-input:nth-child(1),
  .expense-input:nth-child(2) {
    max-width: 12rem;
  }

}

/* Delete model goes here */
.overlay {
  height: 1000rem;
  width: 1000rem;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2rem);
  position: fixed;
  z-index: 1000;
}

.delete-model {
  background-color: white;
  position: fixed;
  z-index: 1200;
  max-width: 35rem;
  padding: 2.5rem 3rem;
  border-radius: 2rem;
}

.delete-request {
  text-align: center;
  font-size: 1.8rem;
  margin: 2rem 0;
  text-wrap: pretty;
}

.delete-img {
  height: 15rem;
  width: auto;
  object-fit: cover;
  display: block;
  margin: 2rem auto;
}

.buttons-box {
  /* outline: 1px solid lime; */
  display: flex;
  align-items: center;
  gap: 1.6rem;
  /* justify-content: space-between; */
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.close-popup-btn {
  border: none;
  padding: .3rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background-color: white;
  cursor: pointer;
  color: rgb(17, 17, 17);
  transition: color 0.3s;
}

.close-popup-btn:hover {
  color: black;
}

.buttons-box button {
  border: none;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  flex: 1;
  transition: all .3s;
  border-radius: .5rem;
  /* margin-top: 3rem; */
}

.yes-delete {
  background-color: #D94860;
}

.yes-delete:hover {
  background-color: #e92222;
}

.cancel-btn {
  background-color: #5085E9;
}

.cancel-btn:hover {
  background-color: #1e65e9;
}

@media(max-width:40em) {

  .container {
    padding: 1rem;
    width: 90%;
    gap: 1rem;
  }

  .expense-form {
    gap: 1rem;
  }

  .expense-input:nth-child(3) {
    width: 5rem;
  }

  .expense-input:last-child {
    width: max-content;
  }

  .expense-input:nth-child(3) {
    flex: 1 1 7rem;
  }

  .expense-select {
    /* flex: 1 1 50%; */
  }

  .add-btn {
    /* flex: 1 1 50%; */
  }
}

@media (max-width:30em) {
  .expense-table {
    max-width: 100%;
  }

  .expense-fields th {
    font-size: 1.6rem;
  }

  .expense-data {
    font-size: 1.4rem;
  }
}