*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
}

/* Global CSS */
.obj-width {
  max-width: 120rem;
  margin: auto;
}

nav {
  background-color: #2d4c50;
  box-shadow: 0 7px 18px rgb(0, 0, 0, 0.3);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem 0;
}

.navbar .logo {
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 2.2rem;
}

.search-input {
  max-width: 40rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: .5rem;
  font-size: 1.8rem;
  color: #333;
}

.search-button {
  padding: 1rem 2rem;
  background-color: #138065;
  color: #fff;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: .5rem;
  margin-left: 1rem;
}

.blog-container {
  padding: 3rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.blog-card {
  margin: 1rem;
  padding: 1rem;
  width: 28rem;
  border: 1px solid #2d4c50;
  border-radius: 1rem;
  cursor: pointer;
  transition: all .2s;
}

.blog-card:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.45);
}

.blog-card img {
  width: 100%;
  height: 28rem;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1.6rem;
}

.blog-card h2 {
  color: #141414;
  font-size: 1.7rem;
  font-weight: 500;
}

.blog-card p {
  /* color: #141414; */
  font-size: 1.2rem;
  padding-top: 0.7rem;
}

/* Spinner or lader styles */
.hidden {
  display: none;
  opacity: 0;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  /* display: none; */
  position: fixed;
  top: 50%;
  left: 50%;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #2D4C50;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}


/* Responsive Design */

/* Before 1440px */
@media(max-width:90em) {
  nav {
    padding: 0.5rem 2rem;
  }

  .obj-width {
    max-width: 100rem;
    margin: auto;
  }
}

/* after 1440px */
@media(min-width: 90em) {
  .obj-width {
    max-width: 130rem;
    margin: auto;
  }
}